@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor 8 WebApp CRUD Example</h1>

<ol>
    <li><NavLink href="https://www.youtube.com/watch?v=tNzSuwV62Lw&ab_channel=PatrickGod">
        YouTube Video: Authentication &Aacute; Authorisation</NavLink>
    </li>
    <li><NavLink href="#">YouTube Video: CRUD Operations</NavLink></li>
    <li>Create a Blazor 8 Web App Project with Auto-Render Modes &Aacute; Individual Accounts</li>
    <li>Modify Appsettings.json to change the database name (and type)</li>
</ol>
