@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor 8 WebApp CRUD Example</h1>

<ol class="list-group-numbered col-md-12 col-lg-6">
    <li class="list-group-item"><NavLink href="https://www.youtube.com/watch?v=tNzSuwV62Lw&ab_channel=PatrickGod">
            <strong>YouTube Video:</strong> Authentication &amp; Authorisation
        </NavLink>
    </li>
    <li class="list-group-item">Create a Blazor 8 Web App Project with Auto-Render Modes &amp; Individual Accounts</li>
    <li class="list-group-item">Modify <strong>appsettings.json</strong> to change the database name (and type)</li>
    <li class="list-group-item">
        Register a user <strong>derek@gmail.com</strong> password=<strong>Blazor8-App</strong>
    </li>
    <li class="list-group-item">Try Apply Migrations otherwise use pmc <strong>update-database</strong></li>
    <li class="list-group-item">Check the database and update <strong>email confirmed</strong> to true</li>
    <li class="list-group-item">Run the App and login the new user (remember me)</li>
    <li class="list-group-item">Add new fields to ApplicationUser and add-migration</li>
    <li class="list-group-item">Add new fields to Manage\Index.razor InputModel</li>
    <li class="list-group-item">Add new fields to EditForm, OnItialised and OnValidSubmit</li>
    <li class="list-group-item"><strong>Roles: </strong>AddRoles in Program.cs</li>
    <li class="list-group-item">Add a new Role to AspNetRoles (copy/modify user gui)</li>
    <li class="list-group-item">Add a new Admin user to AspNetUserRoles</li>
    <li class="list-group-item">Add a new Admin Role to UserInfo.cs and other files</li>
    <li class="list-group-item">Testing Admin Role</li>
</ol>
<h1>Blazor 8 CRUD Example</h1>
<ol class="list-group-numbered col-md-12 col-lg-6">
    <li class="list-group-item">
        <NavLink href="https://www.youtube.com/watch?v=w8imy7LT9zY&t=767s&ab_channel=PatrickGod">
            <strong>YouTube Video:</strong> Blazor 8 CRUD and Render Modes
        </NavLink>
    </li>
    <li class="list-group-item">Add the entity classes in Data or Entity</li>
    <li class="list-group-item">If Individual Accounts not added, add ConnectionString and DataContext</li>
    <li class="list-group-item">Add entity Services, and register the service</li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
</ol>