@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    <p>Hello @context.User.Identity?.Name!</p>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <p>You are an authenticated Admin user.</p>
</AuthorizeView>